<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>autosavedContentsBookmark</key>
		<data>
		Ym9va+wDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAA6AIAAAUAAAABAQAAVXNlcnMAAAAJAAAAAQEAAGRhbmllbGxhbQAAAAcA
		AAABAQAATGlicmFyeQAUAAAAAQEAAEF1dG9zYXZlIEluZm9ybWF0aW9uIgAA
		AAEBAABVbnNhdmVkIFhjb2RlIERvY3VtZW50Lnhjd29ya3NwYWNlAAAUAAAA
		AQYAAAQAAAAUAAAAKAAAADgAAABUAAAACAAAAAQDAAA+mwoAAAAAAAgAAAAE
		AwAAmj0LAAAAAAAIAAAABAMAAJs9CwAAAAAACAAAAAQDAAARmBMAAAAAAAgA
		AAAEAwAALcMTAAAAAAAUAAAAAQYAAJwAAACsAAAAvAAAAMwAAADcAAAACAAA
		AAAEAABBwRdF+faFgxgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAA
		CAAAAAQDAAADAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8F
		AAAAAQEAAG1hY09TAAAACAAAAAQDAAAAYH/zCQAAAAgAAAAABAAAQcEXKssC
		3cgkAAAAAQEAAEJEOUJENzI2LTEzNEItNDVEMi05NTZDLUNFNzExNTRCRjI4
		QhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA
		AAAAAAEFAADqAAAAAQIAADBlY2MzYjM5ODRhNzc4YmJiNmUwNGJmMGY5MmU1
		NWVjYjdhMmI2YjU7MDA7MDAwMDAwMDA7MDAwMDAwMDA7MDAwMDAwMDA7MDAw
		MDAwMDAwMDAwMDAyMDtjb20uYXBwbGUuYXBwLXNhbmRib3gucmVhZC13cml0
		ZTswMTswMTAwMDAwNDswMDAwMDAwMDAwMTNjMzJkOzAxOy91c2Vycy9kYW5p
		ZWxsYW0vbGlicmFyeS9hdXRvc2F2ZSBpbmZvcm1hdGlvbi91bnNhdmVkIHhj
		b2RlIGRvY3VtZW50Lnhjd29ya3NwYWNlAAAAzAAAAP7///8BAAAAAAAAABAA
		AAAEEAAAgAAAAAAAAAAFEAAA7AAAAAAAAAAQEAAAGAEAAAAAAABAEAAACAEA
		AAAAAAACIAAA4AEAAAAAAAAFIAAAVAEAAAAAAAAQIAAAZAEAAAAAAAARIAAA
		lAEAAAAAAAASIAAAdAEAAAAAAAATIAAAhAEAAAAAAAAgIAAAwAEAAAAAAAAw
		IAAA7AEAAAAAAAABwAAAOAEAAAAAAAARwAAAFAAAAAAAAAASwAAASAEAAAAA
		AACA8AAA9AEAAAAAAAA=
		</data>
		<key>isExpendable</key>
		<true/>
		<key>recordDate</key>
		<date>2019-03-05T10:50:27Z</date>
		<key>uniquingNumber</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
